@model User

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Username)
    @Html.TextBoxFor(m => m.Username)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <button type="submit">Login</button>

    if (ViewBag.Error != null)
    {
        <div style="color:red">@ViewBag.Error</div>
    }
}
